*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header section */
.Container{
    width: 1400px;
}

.header-section{
    background-image: url(../images/banner/banner3.png);
    background-size:cover;
}

.header-items{
    margin-right: 200px;
    margin-left: 700px;
    text-align: right;
    padding: 200px 0 150px;
}

.header title{
    padding-bottom: 25px;
    color: #ffffff;
    font-size: 50px;
}

.header-details{
    padding-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
}


/* banner section */

.banner-section{
    display: flex;
    text-align: left;
    margin: 150px 250px 0 50px;
    gap: 60px;
}

.banner-tittle{
    color:#151414;
    padding-bottom: 25px;
    font-size: 40px;
    width: 70%;
}
.banner-details{
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
}

.banner-section .points{
    padding-bottom: 10px;
    font-size: 16px;
}

.banner-section .points i{
    color: green;
    font-size: 20px;
}


/* My Plan Section */

.My-Plan{
    margin: 120px 200px 0 100px;
    text-align: center;
    padding: ;
}

.all-plan{
    display: flex;
    justify-content: space-between;
}

.my-plan h2{
    margin-bottom: 50px;
    font-size: 30px;
    color: #151414;
    padding: 20px 0;
}

.plan{

    padding: 35px;
    text-align: left;
    
}

.plan-tittle{
    color: #151414;
    font-size: 20px;
}

.plan-description{
    color: #737272;
    padding: 20px;
    font-size: 20px;
    
}

